body {
    text-align: center;
    font-family: fantasy;
}

table {
    border-spacing: 0px;
    margin: 0 auto;
}

table:hover{
    
    cursor: default;
}

td {
    width: 25px;
    height: 25px;
    border: 1px solid rebeccapurple;
}

.hidden {
    visibility: hidden;
}

.shown {
    visibility: visible;
}

.mine .shown {
    background-color: white;
}

.covered {
    background: radial-gradient(rgba(227, 197, 245, 0.836), rgba(149, 11, 241, 0.966));
}

/* .revealed {
    background-color: white;
} */

.smiley {
    font-size: 20px;
    padding: 2px;
    background-color: white;
    height: 35px;
    width: 35px;
}

.lose-life {
    background-color: rgba(156, 13, 13, 0.5);
    transition: 0.5s;
}

img {
height: 20px;
}

.hints:hover {
cursor: pointer;
}

.lighted {
    background: radial-gradient(yellow, white);
}

.hint-reveal {
    background-color: rgba(255, 255, 0, 0.5);
}